<!DOCTYPE html>

<html lang="en" data-ng-app="todoApp">

<head>
  <meta charset="utf-8">
  <title>To-do</title>
</head>

<body data-ng-controller="todoCtrl">
  <section id="input">
    <form name="add-task" data-ng-submit="addTask()">
      <input type="text" data-ng-model="newTask" required />
    </form>
  </section>
  
  <section id="todo">
    <header>To-Do</header>
    <ul>
      <li data-ng-repeat="task in tasks | filter : {state:STATE_TODO} | orderBy: 'todoStamp'">
        <span data-ng-bind="task.name"></span>
        <span>{{ task.todoStamp | date}}</span>
      </li>
    </ul>
  </section>
  
  <section id="wip">
    <header>WIP</header>
    <ul>
      <li data-ng-repeat="task in tasks | filter : {state:STATE_WIP} | orderBy: 'todoStamp'">
        <span data-ng-bind="task.name"></span>
        <span>{{ task.todoStamp | date}}</span>
      </li>
    </ul>
  </section>
  
  <section id="done">
    <header>Done</header>
    <ul>
      <li data-ng-repeat="task in tasks | filter : {state:STATE_DONE} | orderBy: 'todoStamp'">
        <span data-ng-bind="task.name"></span>
        <span>{{ task.todoStamp | date}}</span>
      </li>
    </ul>
  </section>
  
  <script src="lib/angular/angular.min.js" ></script>
  <script src="js/app.js" ></script>
</body>
</html>